@use "spacing";

.dashboardLayout {
    background-color: var(--bg-color);
    display: flex;
    flex-directrion: row;
    height: 100dvh;

    &__main {
        padding: spacing.$md;
        flex: 1;
        overflow: auto;
    }
}
