@use "typography";
@use "colors";

.logo {
    display: inline-block;
    position: relative;
    letter-spacing: 0.05em;
    text-shadow:
        1px 1px colors.$textLogo,
        -1px 1px colors.$textLogo,
        -1px -1px colors.$textLogo,
        1px -1px colors.$textLogo;
    overflow: hidden;
    color: white;
    transition: all 1s;
    text-align: center;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        top: 10px;
        right: -15px;
        bottom: -15px;
        left: 0;
        z-index: -1;
        background: linear-gradient(
                -45deg,
                rgba(72, 209, 204, 0) 2px,
                colors.$bgLight 3px,
                rgba(72, 209, 204, 0) 3px
            )
            repeat;
        background-size: 4px 4px;
    }

    &::after {
        content: attr(data-name);
        position: absolute;
        top: 3px;
        left: 3px;
        z-index: -2;
        text-shadow:
            1px 1px white,
            2px 2px white,
            3px 3px white,
            4px 4px white;
        color: white;
        transition: all 1s;
        width: 100%;
    }
}
