$color-emerald-50: oklch(0.979 0.021 166.113);
$color-emerald-100: oklch(0.95 0.052 163.051);
$color-emerald-200: oklch(0.905 0.093 164.15);
$color-emerald-300: oklch(0.845 0.143 164.978);
$color-emerald-400: oklch(0.765 0.177 163.223);
$color-emerald-500: oklch(0.696 0.17 162.48);
$color-emerald-600: oklch(0.596 0.145 163.225);
$color-emerald-700: oklch(0.508 0.118 165.612);
$color-emerald-800: oklch(0.432 0.095 166.913);
$color-emerald-900: oklch(0.378 0.077 168.94);
$color-emerald-950: oklch(0.262 0.051 172.552);

$color-amber-50: oklch(0.987 0.022 95.277);
$color-amber-100: oklch(0.962 0.059 95.617);
$color-amber-200: oklch(0.924 0.12 95.746);
$color-amber-300: oklch(0.879 0.169 91.605);
$color-amber-400: oklch(0.828 0.189 84.429);
$color-amber-500: oklch(0.769 0.188 70.08);
$color-amber-600: oklch(0.666 0.179 58.318);
$color-amber-700: oklch(0.555 0.163 48.998);
$color-amber-800: oklch(0.473 0.137 46.201);
$color-amber-900: oklch(0.414 0.112 45.904);
$color-amber-950: oklch(0.279 0.077 45.635);

$color-neutral-50: oklch(0.985 0 0);
$color-neutral-100: oklch(0.97 0 0);
$color-neutral-200: oklch(0.922 0 0);
$color-neutral-300: oklch(0.87 0 0);
$color-neutral-400: oklch(0.708 0 0);
$color-neutral-500: oklch(0.556 0 0);
$color-neutral-600: oklch(0.439 0 0);
$color-neutral-700: oklch(0.371 0 0);
$color-neutral-800: oklch(0.269 0 0);
$color-neutral-900: oklch(0.205 0 0);
$color-neutral-950: oklch(0.145 0 0);

$color-red-50: oklch(0.971 0.013 17.38);
$color-red-100: oklch(0.936 0.032 17.717);
$color-red-200: oklch(0.885 0.062 18.334);
$color-red-300: oklch(0.808 0.114 19.571);
$color-red-400: oklch(0.704 0.191 22.216);
$color-red-500: oklch(0.637 0.237 25.331);
$color-red-600: oklch(0.577 0.245 27.325);
$color-red-700: oklch(0.505 0.213 27.518);
$color-red-800: oklch(0.444 0.177 26.899);
$color-red-900: oklch(0.396 0.141 25.723);
$color-red-950: oklch(0.258 0.092 26.042);
