@use "sass:color";

$honeydew: #d4edda;
$mintLeaf: #71ac7f;
$evergreen: #18301d;
$darkAmethyst: #0d0630;
$cottonRose: #ffcfd2;
$stoneBrown: #545145;
$strawberryRed: #ef4444;

$bgLight: $honeydew;
$bgDark: $mintLeaf;

$textLogo: $evergreen;
$textPrimary: $darkAmethyst;
$textSecondary: $stoneBrown;
$textLink: $cottonRose;

$buttonBgPrimary: $darkAmethyst;
$buttonBgSecondary: $cottonRose;

$buttonTextPrimary: $cottonRose;
$buttonTextSecondary: $darkAmethyst;

$shadow: color.scale($bgDark, $lightness: -40%);
$border: color.scale($bgDark, $lightness: -40%);

$error: $strawberryRed;
