* {
    margin: 0;
    padding: 0;
    scrollbar-color: var(--bg-color) var(--surface-color);
    scrollbar-width: thin;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    line-height: 1;
}

button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
