@mixin dark-theme {
  --bg-color: #1a2a2a;
  --text-color: #f7f7f7;
  --primary-color: #cc6600;
  --surface-color: #346b6a;
  --border-color: #f7f7f7;
  --error-color: #b34026;
  --shadow-color: #252525;

  --input-text-color: var(--text-color);
  --input-border-color: var(--border-color);

  --btn-primary-color: var(--primary-color);
  --btn-hover-primary-color: #a65300;
  --btn-secondary-color: #ebebeb;
  --btn-hover-secondary-color: #c8c8c8;
  --btn-disabled-color: #6c757d;

  --table-even-row-color: #3f756f;

  --loader-color: #fff;

  --skeleton-bg-color: #4f6968;
  --skeleton-animation-color: #658887;
}

@mixin light-theme {
  --bg-color: #eff8f3;
  --text-color: #252525;
  --primary-color: #cc6600;
  --surface-color: #8ec8c0;
  --border-color: #252525;
  --error-color: #b34026;
  --shadow-color: #5e5e5e;

  --input-text-color: var(--text-color);
  --input-border-color: var(--border-color);

  --btn-primary-color: var(--primary-color);
  --btn-hover-primary-color: #a65300;
  --btn-secondary-color: #252525;
  --btn-hover-secondary-color: #3d3d3d;

  --table-even-row-color: #9dd9cd;

  --loader-color: #252525;

  --skeleton-bg-color: #d1e8e4;
  --skeleton-animation-color: #b3d8d2;
}

:root {
  @include light-theme();

  @media (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
      @include dark-theme();
    }
  }
}

[data-theme='dark'] {
  @include dark-theme();
}
