@use "spacing";

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-color: var(--bg-color);
    gap: spacing.$md;

    &__card {
        box-shadow: 0 0 10px 5px var(--shadow-color);
        background-color: var(--surface-color);
        width: 30%;
        min-width: 300px;
        maxw-idth: 400px;
        padding: spacing.$md;
    }
}
