@use 'spacing';
@use 'rounding';
@use 'typography';

$block: '.button';

#{$block} {
  border-radius: rounding.$sm;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s;

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px var(--shadow-color);
  }

  &:active:not(:disabled) {
    transform: translateY(0);
    box-shadow: 0 2px 4px var(--shadow-color);
  }

  &_sm {
    font-size: typography.$text2;
    padding: spacing.$xs;
  }

  &_md {
    font-size: typography.$text1;
    padding: spacing.$sm;
  }

  &_filled {
    color: var(--bg-color);

    &#{$block}_primary {
      background-color: var(--btn-primary-color);

      &:hover:not(:disabled),
      &:focus:not(:disabled) {
        background-color: var(--btn-hover-primary-color);
      }
    }

    &#{$block}_secondary {
      background-color: var(--btn-secondary-color);

      &:hover:not(:disabled),
      &:focus:not(:disabled) {
        background-color: var(--btn-hover-secondary-color);
      }
    }
  }

  &_outlined {
    border-width: 1px;
    border-style: solid;
    background-color: transparent;

    &#{$block}_primary {
      border-color: var(--btn-primary-color);
      color: var(--btn-primary-color);

      &:hover:not(:disabled),
      &:focus:not(:disabled) {
        border-color: var(--btn-hover-primary-color);
        color: var(--btn-hover-primary-color);
        outline: 1px solid var(--btn-hover-primary-color);
      }
    }

    &#{$block}_secondary {
      border-color: var(--btn-secondary-color);
      color: var(--btn-secondary-color);

      &:hover:not(:disabled),
      &:focus:not(:disabled) {
        border-color: var(--btn-hover-secondary-color);
        color: var(--btn-hover-secondary-color);
        outline: 1px solid var(--btn-hover-secondary-color);
      }
    }
  }

  &:disabled {
    background-color: var(--btn-disabled-color);
    cursor: not-allowed;
  }
}
