@use "spacing";
@use "rounding";

$block: ".button";

#{$block} {
    border-radius: rounding.$sm;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;

    &_sm {
        padding: spacing.$xs2;
    }

    &_md {
        padding: spacing.$sm;
    }

    &_filled {
        color: var(--bg-color);

        &#{$block}_primary {
            background-color: var(--primary-color);
        }

        &#{$block}_secondary {
            background-color: var(--btn-secondary-color);
        }
    }

    &_outlined {
        border-width: 1px;
        border-style: solid;

        &#{$block}_primary {
            border-color: var(--primary-color);
            color: var(--primary-color);
        }

        &#{$block}_secondary {
            border-color: var(--btn-secondary-color);
            color: var(--btn-secondary-color);
        }
    }
}
