@use 'spacing';

.loading {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: spacing.$xl;

  &__form {
    display: flex;
    flex-direction: column;
    gap: spacing.$md;
  }

  &__input {
    width: 100%;
    height: 42px;
  }

  &__button {
    width: 100%;
    height: 40px;
  }
}
