@use "spacing";

.page {
    display: flex;
    flex-direction: column;
    gap: spacing.$xl;

    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}
