@use "spacing";
@use "rounding";

.sidebarLink {
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: spacing.$xs;
    text-decoration: none;
    padding-block: spacing.$sm;
    padding-inline: spacing.$sm;
    border-radius: rounding.$md;
    transition: all 0.3s;

    &_active {
        background-color: var(--primary-color);
        box-shadow: 0 2px 4px var(--shadow-color);
    }

    &:hover,
    &:focus {
        background-color: var(--primary-color);
        transform: translateY(-2px);
        box-shadow: 0 4px 10px var(--shadow-color);
    }

    &:active {
        transform: translateY(0);
        box-shadow: 0 2px 4px var(--shadow-color);
    }
}
