@use "colors";
@use "spacing";

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-color: colors.$bgLight;

    &__slogan {
        text-align: center;
        text-wrap: balance;
    }

    &__buttonsRow {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: spacing.$md;
        margin-top: spacing.$md;
    }
}
