@use 'spacing';
@use 'typography';
@use 'rounding';

$block: '.input';

#{$block} {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: spacing.$xs2;

  &__container {
    position: relative;
  }

  &__label {
    font-size: typography.$text2;
    position: absolute;
    top: -5px;
    left: 13px;
    transform: translate(-1px, 21px) scale(1.33333);
    transform-origin: left;
    transition:
      transform 0.3s,
      padding 0.3s;
    color: var(--text-color);
    cursor: text;

    &_error {
      color: var(--error-color);
    }

    &_filled {
      transform: none;
    }

    &_disabled {
      cursor: not-allowed;
      opacity: 0.6;
    }
  }

  &__input {
    font-size: typography.$text1;
    padding: spacing.$sm;
    width: 100%;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: rounding.$sm;
    color: var(--text-color);

    &::placeholder {
      font-weight: bold;
      opacity: 0.5;
      color: var(--text-color);
    }

    &:focus {
      outline: none;
    }

    &:focus + #{$block}__label {
      transform: none;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.6;
    }

    &_bordered {
      border-color: var(--border-color);
    }

    &_error {
      border-color: var(--error-color);
    }
  }

  &__fieldset {
    position: absolute;
    padding: 0 8px;
    top: -6px;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    border: 1px solid var(--border-color);
    border-radius: rounding.$sm;

    &_error {
      border-color: var(--error-color);
    }
  }

  &__legend {
    color: transparent;
    padding: 0;
    max-width: 0.01px;
    font-size: typography.$text2;
    transition: max-width 0s 50ms;

    &_filled {
      max-width: 100%;
      padding: 0 4px;
    }
  }
}
