@use "typography";

.typography {
    &_trunc {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    &_logo1 {
        font-size: typography.$logo1;
    }

    &_logo2 {
        font-size: typography.$logo2;
    }

    &_h2 {
        font-size: typography.$h2;
    }

    &_h3 {
        font-size: typography.$h3;
    }

    &_text2 {
        font-size: typography.$text2;
    }
}
